header[role=banner]{
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  height:200px;
  position: relative;
  width:100%;
  z-index:1;

  &:before{
    background-color: rgba(77, 77, 79, 0.65);
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 0;
  }

  *{
    position: relative;
    z-index: 2;
  }

  .logo{
    display: inline-block;
    text-align: center;
    top:75px;
    width: inherit;
  }
}
